* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;

  background-color: black;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  user-select: none;

}

button {
  background-color: #343434;
  border-radius: 100%;
  width: 2.75rem;
  height: 2.75rem;
  /* padding: 20px 26px; */
  border: none;
  color: white;
  transition: 250ms ease;
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.wrapper {
  margin-bottom: 0.5rem;
}

.clear-btn {
  background-color: #737373;
}

.clear-btn:active {
  background-color: #8c8c8c;
}

.row {
  margin: auto;
}

.digit {
  background-color: #343434;
}

.operator {
  background-color: #ffb341;
}

.operator:active {
  background-color: #fbc78e;
}

.digit:active {
  background-color: #737373;
}

.controls {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.operators,
.column {
  display: flex;
  flex-direction: column;
}

.left-side,
.digits,
.operators {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.calculationOutput {
  color: white;
  font-size: 48px;
  user-select: text;
}

.output {
  margin-bottom: 16px;
  text-align: center;
}
#remove-btn {
  opacity: 0;
}
.secondary-text,
a {
  color: rgb(78, 78, 78);
  text-align: center;
  font-size: 12px;
}